{% extends "common.html" %}
    {% block title %} all user {% endblock %}
    {% block content %}
    {% load static %}



    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#ID</th>
                <th scope="col">Title</th>
                <th scope="col">Created By</th>
                <th scope="col">price Raised</th>
                <th scope="col">Price Target</th>
                <th scope="col">Details</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>

              </tr>
            </thead>
            <tbody>
              {% for each in allcause %}  
              <tr>
                <th scope="row">{{ each.cause_id }}</th>
                <td>{{ each.title}}</td>
                <td>{{ each.created_by }}</td>
                <td>{{ each.price_raised }}</td>
                <td>{{ each.price_target }}</td>
                <td>{{ each.details }}</td>
                <td>
                    <a href="{% url "edit-cause" each.cause_id %}" class="btn btn-primary">Edit</a>     
                </td>
                <td>
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal_{{each.cause_id}}"  class="btn btn-danger">Delete</a> 
                    
                     <!-- Modal -->
                     <div class="modal fade" id="exampleModal_{{each.cause_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p> Are you sure? </p>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">no</button>
                                <a href="{% url "delete-cause" each.cause_id %}" class="btn btn-danger">Delete</a> 

                            </div>
                        </div>
                        </div>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>



    {% endblock %}